<h3 class="mb-5">Actualizar producto</h3>

<div class="row row-cols-3 justify-content-center">

    <form #f="ngForm">

        <div class="mb-3">
            <label for="nombre">Nombre</label>
            <input #nombre="ngModel" type="text" id="nombre" name="nombre" class="form-control"
                [(ngModel)]="productDTO.nombre" required>
        </div>

        <div class="mb-3">
            <label for="precio">Precio</label>
            <input #precio="ngModel" type="number" id="precio" name="precio" class="form-control" placeholder="Precio"
                [(ngModel)]="productDTO.precio" required>
        </div>

        <div class="mb-3">
            <label for="cantidad">Cantidad</label>
            <input #cantidad="ngModel" type="number" id="cantidad" name="cantidad" class="form-control"
                placeholder="Cantidad" [(ngModel)]="productDTO.cantidad" required>
        </div>

        <div class="text-end">
            <button class="btn btn-primary ms-2" (click)="update()">Actualizar producto</button>
            <button class="btn btn-danger mx-5" routerLink="/" type="button">Cancelar</button>
            <app-alerta [alerta]="alerta"></app-alerta>

        </div>

    </form>

</div>